spring:
  application:
    name: online-auction

  datasource:
    url: jdbc:postgresql://localhost:5432/auction_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: your-email@gmail.com
#    password: your-app-password
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8088

jwt:
  secret: ${JWT_SECRET:eW91ci1zZWNyZXQta2V5LWNoYW5nZS10aGlzLWluLXByb2R1Y3Rpb24tbWluLTI1Ni1iaXRz}
  access-token-expiration: 3600000 # 1 hour
  refresh-token-expiration: 604800000 # 7 days

app:
  file:
    upload-dir: ./uploads
  auction:
    auto-extend-enabled: true
    auto-extend-threshold-minutes: 5
    auto-extend-duration-minutes: 10
    new-product-highlight-minutes: 60
  otp:
    expiration-minutes: 5

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true